body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #8cb2ce;
  color: #333;
}

header {
  background: #004080;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

section {
  padding: 20px;
  background: rgb(132, 142, 147);
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

img {
  width: 100%;
  max-width: 400px;
  display: block;
  margin-top: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #004080;
  color: white;
}

.minha-imagem {
  width: 250px;
  height: auto;
}

img {
    text-align: center;
}